<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <title>关于COCO 跑局</title>
    <style type="text/css">
        .page {width: 100%;background-color: #146bb7;font-size: 0}
        .a-page img{width: 100%;float: left;padding: 0;margin: 0;display: block}

    </style>
</head>
<body>
<div class="page a-page">
    <div class="header close">
        关闭
    </div>
    <div class="header back">
        返回
    </div>
    <img src="../images/a-1.jpg"><img src="../images/a-2.jpg"><img src="../images/a-3.jpg">
    <img src="../images/a-4.jpg"><img src="../images/a-5.jpg"><img src="../images/a-6.jpg"><img src="../images/a-7.jpg">
    <div class="clears"></div>
</div>

<script src="../js/jquery-2.1.1.min.js"></script>
<script type="application/javascript" src="../js/global.js"></script>
</body>
</html>