<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <title>活动规则</title>
    <style type="text/css">
        .page{width: 100%;background-color: #146bb7;font-size: 0}
        .r-page>img:nth-of-type(1){width: 100%;}
        .header{ position: absolute; font-size: 1rem; top: 1rem; left: .5rem; width: 4rem; height: 1.5rem;line-height:1.5rem;text-align: center; }
        .header img{width: .7rem;float: left;margin-left: 0;vertical-align: middle }
    </style>
</head>
<body>
<div class="page r-page">
    <img src="../images/rule-bg1.jpg">
    <div class="header back">
        <img src="../images/jt.png">
        返回
    </div>
</div>
<script type="application/javascript" src="../js/jquery-2.1.1.min.js"></script>
<script type="application/javascript" src="../js/global.js"></script>
<script>
    $(function(){
        $('.home-btn').click(function () {
            window.location.href="";
        })
    })
</script>
</body>
</html>